/*General*/
/*White theme*/
/*Black theme*/
/*title class*/
.titles {
  width: 90%;
  margin: auto;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

body.dark .titles {
  background: #FFFAFE;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.titles p {
  font-size: 1em;
  margin-left: 8px;
  color: #110038;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Chakra Petch";
}

body .headerInfo {
  width: 100%;
  height: 1.5em;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

body .headerInfo p {
  padding-left: 1%;
  text-align: left;
  color: #ffffff;
}

body nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

body nav a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body nav .logo {
  margin-left: 1em;
}

body .InfoCapture {
  width: 690px;
  margin: auto;
  height: 400px;
  margin-bottom: 5em;
  position: relative;
  background: #E6E6E6;
  translate: -50%, -50%;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

body .InfoCapture .info {
  width: 100%;
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .InfoCapture .info p {
  left: 3px;
  display: block;
  font-size: 1em;
  margin: auto 5px;
  font-weight: bold;
  color: #ffffff;
}

body .InfoCapture img {
  top: 10px;
  left: 30px;
  position: relative;
}

body .InfoCapture p {
  font-size: 1.2em;
  padding-top: 3px;
  font-weight: bold;
  display: inline-block;
  margin: 30px 0px 1em 60px;
}

body .InfoCapture pre {
  width: 80px;
  color: #110038;
  margin-left: 30px;
  margin-bottom: 0.5em;
}

body .InfoCapture .cancel {
  bottom: 1em;
  right: 12em;
  color: #110038;
  padding: 5px 25px;
  position: absolute;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body .InfoCapture .cancel:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

body .InfoCapture .cancel:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

body .InfoCapture .GoVideo {
  right: 3em;
  bottom: 1em;
  color: #110038;
  padding: 5px 20px;
  position: absolute;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

body .InfoCapture .GoVideo:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

body .InfoCapture .GoVideo:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

body .capture {
  width: 780px;
  height: 550px;
  position: relative;
  margin: 3em auto;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

body .capture .info {
  width: 100%;
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

body .capture .info p {
  left: 3px;
  display: block;
  font-size: 1em;
  margin: auto 5px;
  font-weight: bold;
  color: #ffffff;
}

body .capture .info .bntClose {
  top: 5px;
  right: 5px;
  position: absolute;
}

body .capture .gifDisplay {
  width: 759px;
  height: 440px;
  margin: 1em 8px;
  background: #000000;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.misGifs {
  width: 90%;
  height: auto;
  margin: 2em auto;
}

.startClass {
  right: 12px;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.startClass span {
  width: 40px;
  position: relative;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.startClass span:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.startClass span:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.startClass span img {
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.startClass p {
  width: 144px;
  padding: 10px;
  font-size: 1.2em;
  color: #110038;
  font-weight: bold;
  position: relative;
  text-align: center;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.startClass p:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.startClass p:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.stopClass {
  right: 12px;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.stopClass span {
  width: 40px;
  padding: 8px;
  position: relative;
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.stopClass span:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.stopClass span:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.stopClass span img {
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stopClass p {
  width: 144px;
  padding: 10px;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  text-align: center;
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.stopClass p:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.stopClass p:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.endClass {
  right: 12px;
  bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.endClass .repet {
  font-size: 1em;
  color: #110038;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  padding: 10px 15px;
  position: relative;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.endClass .repet:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.endClass .repet:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.endClass .upload {
  font-size: 1em;
  color: #110038;
  font-weight: bold;
  text-align: center;
  padding: 10px 30px;
  position: relative;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.endClass .upload:hover:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.endClass .upload:active:after {
  content: " ";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  cursor: pointer;
  position: absolute;
  border: 1px dashed  #110038;
}

.cancelBtn {
  right: 12px;
  bottom: 12px;
  position: absolute;
  font-size: 1em;
  color: #110038;
  font-weight: bold;
  padding: 10px 40px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.timer {
  left: 20px;
  bottom: 12px;
  font-size: 1.2em;
  color: #110038;
  padding: 8px 15px;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.uploading {
  width: 98%;
  height: 83%;
  margin: 12px auto;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.uploading img {
  top: 35%;
  left: 50%;
  position: absolute;
}

.uploading span {
  top: 50%;
  left: 52%;
  font-size: 16px;
  color: #110038;
  font-weight: bold;
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=CreateGif.css.map */