:root {
  --smoke: #8F8F8F;
  --rose-fog: #E6DCE4;
  --metal-fog: #979797;
  --cloud-veil: #E6E6E6;
  --moon-petal: #FFFAFE;
  --neutral-gray: #B4B4B4;
  --classic-gray: #808080;
  --urban-graffiti: #5C5C5C;
  --cotton-blush: #FFF4FD;
  --neo-blue: #2E32FB;
  --deep-blue: #284F99;
  --hyper-blue: #4180F6;
  --deep-violet: #110038;
  --cobalt-blue: #2124B3;
  --imperial-violet: #4C2F99;
  --ash-mauve: #997D97;
  --wine-smoke: #80687D;
  --sugar-petal: #F7C9F3;
  --velvet-rose: #E6BBE2;
  --neon-purple: #EE3EFE;
  --mystic-violet: #A72CB3;
  --electric-orchid: #CE36DB;
  --coral-ember: #FF6161;
  --garnet-red: #993A3A;
}

:root {
  --bg-body: white;
  --bg-gradient: linear-gradient(270deg, var(--sugar-petal) 0%, var(--hyper-blue) 100%);
  --simple-border: 1px solid var(--velvet-rose);
  --title-shadow: inset -2px -2px 0 0 var(--rose-fog), inset 2px 2px 0 0 var(--wine-smoke);
  --gif-bg: var(--cloud-veil);
  --gif-shadow: inset -2px -2px 0 0 var(--neutral-gray), inset 2px 2px 0 0 white;
  --search-bar-bg: var(--cloud-veil);
  --search-bar-shadow:inset -2px -2px 0 0 var(--neutral-gray), inset 2px 2px 0 0 white;
  --dropdown-bg: var(--cloud-veil);
  --dropdown-shadow: inset -2px -2px 0 0 var(--neutral-gray), inset 2px 2px 0 0 white;
  --btn-gifs-bg: var(--deep-violet);
  --btn-gifs-border: 0.5px dashed var(--deep-violet);
  --btn-day-bg: #FFF4FD;
  --btn-day-border: 1px solid #CCA6C9;
  --btn-day-shadow: inset -1px -1px 0 0 var(--rose-fog), inset 1px 1px 0 0 white;
  --btn-night-color: var(--deep-violet);
  --btn-night-bg: #F0F0F0;
  --btn-night-border: 1px solid var(--classic-gray);
  --btn-night-shadow: inset -1px -1px 0 0 var(--neutral-gray), inset 1px 1px 0 0 white;
  --btn-pink-bg: var(--sugar-petal);
  --btn-pink-color: var(--deep-violet);
  --btn-pink-shadow: inset -1px -1px 0 0 var(--ash-mauve), inset 1px 1px 0 0 white;
  --btn-blue-shadow: inset -2px -2px 0 0 var(--deep-blue), inset 2px 2px 0 0 white;
  --btn-submit-bg: var(--cloud-veil);
  --btn-submit-color: var(--neutral-gray);
}

body.dark-mode {
  --bg-body: var(--deep-violet);
  --bg-gradient: linear-gradient(270deg, var(--neon-purple) 0%, var(--hyper-blue) 100%);
  --simple-border: 1px solid var(--hyper-blue);
  --title-shadow: inset -2px -2px 0 0 var(--rose-fog), inset 2px 2px 0 0 var(--deep-violet);
  --gif-bg: var(--neutral-gray);
  --gif-shadow: inset -2px -2px 0 0 var(--urban-graffiti), inset 2px 2px 0 0 white;
  --search-bar-bg: var(--neutral-gray);
  --search-bar-shadow:inset -2px -2px 0 0 var(--smoke), inset 2px 2px 0 0 white;
  --dropdown-bg: var(--neutral-gray);
  --dropdown-shadow: inset -2px -2px 0 0 var(--smoke), inset 2px 2px 0 0 white;
  --btn-gifs-bg: white;
  --btn-gifs-border: 0.5px dashed white;
  --btn-day-bg: #CCCCCC;
  --btn-day-border: 1px solid var(--classic-gray);
  --btn-day-shadow: inset -1px -1px 0 0 var(--neutral-gray), inset 1px 1px 0 0 white;
  --btn-night-color: white;
  --btn-night-bg: var(--neo-blue);
  --btn-night-border: 1px solid rgba(51,53,143,0.20);
  --btn-night-shadow: inset -1px -1px 0 0 var(--rose-fog), inset 1px 1px 0 0 white;
  --btn-pink-color: white;
  --btn-pink-bg: var(--neon-purple);
  --btn-pink-shadow: inset -1px -1px 0 0 var(--mystic-violet), inset 1px 1px 0 0 white;
  --btn-blue-shadow: inset -2px -2px 0 0 var(--cobalt-blue), inset 2px 2px 0 0 white;
  --btn-submit-bg: var(--neutral-gray);
  --btn-submit-color: var(--smoke);
}

.trend-gif {
  background: var(--gif-bg);
  box-shadow: var(--gif-shadow);
}
.trend-gif figcaption {
  width: calc(100% - 1rem);
}
.trend-gif button {
  left: 5%;
  bottom: 5%;
}

.results-gif {
  background: var(--gif-bg);
  box-shadow: var(--gif-shadow);
}
.results-gif figcaption {
  bottom: 3%;
  width: calc(100% - 1rem);
  visibility: hidden;
}
.results-gif:hover figcaption {
  visibility: visible;
}

.btn-nav-my-gifs {
  color: var(--btn-gifs-bg);
}
.btn-nav-my-gifs:hover {
  border: var(--btn-gifs-border);
  padding: 0.25rem 0.6rem 0.25rem 0.2rem;
}
.btn-nav-my-gifs:active {
  opacity: 50%;
  border: none;
}

.btn-day {
  cursor: pointer;
  background: var(--btn-day-bg) !important;
  border: var(--btn-day-border) !important;
  box-shadow: var(--btn-day-shadow);
}

.btn-night {
  cursor: pointer;
  color: var(--btn-night-color) !important;
  background: var(--btn-night-bg) !important;
  border: var(--btn-night-border) !important;
  box-shadow: var(--btn-night-shadow);
}

.btn-pink {
  color: var(--btn-pink-color);
  background: var(--btn-pink-bg);
  box-shadow: var(--btn-pink-shadow);
  border: 1px solid var(--deep-violet);
  position: relative;
}
.btn-pink:hover:after, .btn-pink:active:after {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  position: absolute;
  border: 1px dashed var(--deep-violet);
  pointer-events: none;
}

.btn-blue {
  background: var(--hyper-blue);
  box-shadow: var(--btn-blue-shadow);
  border: 1px solid var(--imperial-violet);
  position: relative;
}
.btn-blue:hover:after, .btn-blue:active:after {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  position: absolute;
  border: 1px dashed var(--deep-violet);
  pointer-events: none;
}

.btn-submit-search {
  background: var(--btn-submit-bg);
  color: var(--btn-submit-color);
  border: 1px solid var(--classic-gray);
  box-shadow: inset -1px -1px 0 0 var(--neutral-gray), inset 1px 1px 0 0 white;
  position: relative;
}
.btn-submit-search:hover, .btn-submit-search:active {
  color: var(--deep-violet);
  border: 1px solid var(--deep-violet);
  box-shadow: inset -1px -1px 0 0 var(--ash-mauve), inset 1px 1px 0 0 white;
}
body.dark-mode .btn-submit-search:hover, body.dark-mode .btn-submit-search:active {
  color: white;
  box-shadow: inset -1px -1px 0 0 var(--mystic-violet), inset 1px 1px 0 0 white;
}
.btn-submit-search:hover {
  background: var(--sugar-petal);
}
body.dark-mode .btn-submit-search:hover {
  background: var(--neon-purple);
}
.btn-submit-search:active {
  background: var(--velvet-rose);
}
body.dark-mode .btn-submit-search:active {
  background: var(--electric-orchid);
}
.btn-submit-search:hover:after, .btn-submit-search:active:after {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  position: absolute;
  border: 1px dashed var(--deep-violet);
  pointer-events: none;
}

.btn-white {
  color: var(--deep-violet);
  background: var(--cotton-blush);
  border: 1px solid var(--deep-violet);
  box-shadow: inset -1px -1px 0 0 var(--ash-mauve), inset 1px 1px 0 0 white;
  position: relative;
}
.btn-white:hover:after, .btn-white:active:after {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  position: absolute;
  border: 1px dashed var(--deep-violet);
  pointer-events: none;
}

.btn-soft-pink {
  color: var(--deep-violet);
  background: var(--sugar-petal);
  border: 1px solid var(--deep-violet);
  box-shadow: inset -1px -1px 0 0 var(--ash-mauve), inset 1px 1px 0 0 white;
  position: relative;
}
.btn-soft-pink:hover:after, .btn-soft-pink:active:after {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  position: absolute;
  border: 1px dashed var(--deep-violet);
  pointer-events: none;
}

.btn-red {
  color: white;
  background: var(--coral-ember);
  border: 1px solid var(--deep-violet);
  box-shadow: inset -1px -1px 0 0 var(--garnet-red), inset 1px 1px 0 0 white;
  position: relative;
}
.btn-red:hover:after, .btn-red:active:after {
  content: "";
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  outline: none;
  position: absolute;
  border: 1px dashed var(--deep-violet);
  pointer-events: none;
}

* {
  font-family: "Chakra Petch" !important;
}

body {
  min-width: var(--bs-breakpoint-lg);
  transition-duration: 0.45s;
  background: var(--light);
}
body.dark-mode {
  background: var(--deep-violet);
}

.background-gradient {
  background-image: var(--bg-gradient);
}

.header-shadow {
  box-shadow: 0 1px 0 0 var(--deep-violet);
}

.text-deep-violet {
  color: var(--deep-violet);
}

.simple-border {
  border: var(--simple-border);
}

.title-shadow {
  box-shadow: var(--title-shadow);
}

.search-bar {
  background: var(--search-bar-bg);
  box-shadow: var(--search-bar-shadow);
}

.input-search {
  outline: none;
  color: var(--neutral-gray);
  border: 1px solid var(--metal-fog);
  box-shadow: inset -2px -2px 0 0 var(--cloud-veil), inset 2px 2px 0 0 black;
}

.theme-dropdown-menu {
  background: var(--dropdown-bg) !important;
  box-shadow: var(--dropdown-shadow);
}

.gif-window {
  width: 45rem;
  background: var(--cloud-veil);
  box-shadow: inset -2px -2px 0 0 var(--neutral-gray), inset 2px 2px 0 0 white;
}

.gif-timer {
  color: var(--deep-violet);
  border: 1px solid var(--metal-fog);
  box-shadow: inset -2px -2px 0 0 var(--cloud-veil), inset 2px 2px 0 0 black;
}

.gif-window-border {
  border: 1px solid var(--metal-fog);
  box-shadow: inset -2px -2px 0 0 var(--cloud-veil), inset 2px 2px 0 0 black;
}/*# sourceMappingURL=styles.css.map */