.cOptions
{
    width: 90%;
    height: 50px;
    margin: 2em 5% 2em 5%;

    img{
        left: 5%;
        position: absolute;
    }
    .logoDark{ display: none;}

    body.dark & {
        .logoWhihte{ display: none;}
        .logoDark{ display: block;}
    }

    .create {
        outline: none;
        color: #110038;
        font-size: 1.2em;
        margin-right: 1em;
        margin-left: 60%;
        transition: 0.05s;
        padding: 5px 20px;
        position: relative;
        text-decoration: none;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        
        body.dark & {
            color: $colorWhite;
            background: #EE3EFE;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        }
        @include bntHover();
    }
    .btnTheme{ 
        outline: none;
        font-size: 1.2em;
        color: $colorDark;
        transition: 0.05s;
        padding: 5px 20px;
        margin-right: 50px;
        position: relative;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;

        body.dark & {
            color: $colorWhite; 
            background: #EE3EFE;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        }
        @include bntHover();    
    }
    .btnThemeArrow{
        top: -1px;
        width: 34px;
        right: -37px;
        outline: none;
        height: 34.5px;
        position: absolute;
        display: inline-block;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;

        body.dark & {
            color: $colorWhite; 
            background: #EE3EFE;
            box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        }
        @include bntHover();  

        img{
            margin: 50% 50%;
            transform: translate(-50%, -50%);
        }
    }
    .cMyGifs{ 
        transition: 0.05s;
        display: inline;
        font-size: 1.1em;
        color: $colorDark;
        align-self: center;
        text-decoration: none;
        
        &:hover{
            cursor: pointer;
            padding: 8px 10px 8px 1px;
            border: 0.5px dashed $colorDark;
        }
        
        &:active{
            cursor: pointer;
            color: $colorDark;
            opacity: 50%;
            border: none;
        }

        body.dark & { 
            color: $colorWhite; 
            &:hover{ border: 0.5px dashed $colorWhite; }
            &:active{ border: none; }
        }
    }
}

.ThemeSquare{
    top: 36px;
    width: 180px;
    right: -36px;
    height: 110px;
    position: absolute;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    
    body.dark & {
        background: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    }
    
    .day{
        top: 15px;
        margin: 8px;
        cursor: pointer;
        padding: 10px 35px;
        position: relative;
        background: #FFF4FD;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;

        body.dark & {
            background: #CCCCCC;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
    }
    .night{
        top: 40px;
        margin: 8px;
        cursor: pointer;
        padding: 10px 30px;
        position: relative;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

        body.dark & {
            color: #FFFFFF;
            background: #2E32FB;
            border: 1px solid rgba(51,53,143,0.20);
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        }
    }
}
 