.titles{ 
    width: 90%;
    margin: auto;
    height: 32px;
    display: flex;
    align-items: center;
    background: $whiteBar;
    border: 1px solid $borderWhite;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;

    body.dark & {
        background: $darkBar;
        border: 1px solid $borderDark;
        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
    }

    p{
        font-size: 1em;
        margin-left: 8px;
        color: $colorDark;
        font-weight: normal;
    } 
}