/*General*/
$font-family: 'Chakra Petch';

/*White theme*/
$btnWhite: #F7C9F3;
$colorWhite: #ffffff;
$barSearchW: #E6E6E6;
$degreeWhite: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

/*Black theme*/
$btnDark: #EE3EFE;
$colorDark: #110038;
$barSearchD: #B4B4B4;
$boxShadowD: #8F8F8F;
$degreeBlack: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

/*title class*/
$darkBar: #FFFAFE;
$whiteBar: #FFFAFE;
$borderWhite: #E6BBE2;
$borderDark: #2E32FB;